.Pinterest {
    min-width: 100vw;
    min-height: 10vh;
    width: 100vw;
    height: 100vh;
    background-color:white;
    display: flex; 
    overflow-x: hidden;
    padding: 0px 40px;
  }
  
  .contenedorMenu{
      width: 100px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      position:fixed;
      top: 0;
      padding: 30px 15px;
      
  }
  
  .subMenu{
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
  }
  
  .logo{
      width: 70px;
      min-width: 40px;
  }
  
  .iconContenedor{
      width: 50px;
      height: 50px;
      min-width: 40px;
      border-radius: 40%;
      border: 2px solid #757677;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin: 15px 0;
      transition: 0.4s;
  }
  
  .MuiSvgIcon-root{
      color:rgba(0, 0, 0, 0.17);
      font-size: 19px;
  }
  
  .iconContenedor:hover, .iconContenedor.active{
      background: rgba(0, 0, 0, 0.17);
  }
  
  .iconContenedor:hover .MuiSvgIcon-root,
  .iconContenedor.active, .MuiSvgIcon-root{
      color:rgb(41, 128, 185);
  }
  
  .favorito .iconContenedor{
      background-color: none;
      border: none;
      border-radius: none;
  }
  
  .favorito .iconContenedor:hover .MuiSvgIcon-root,
  .iconContenedor.active, .MuiSvgIcon-root{
      color:rgb(240, 50, 50);
  }
  
  h3{
     color: whitesmoke;
  }
  
  
  
  .main{
      flex: 1;
      height: 100%;
      padding-top: 35px;
      margin-left: 130px;
  }
  
  .buscadorBox{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      background: white;
      border: 2px solid #757677; 
      padding: 8px 15px;
      border-radius: 15px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.17);
  
  }
  
  .buscadorBox input{
      height: 100%;
      width: 100%;
      outline: none;
      border:none;
      color:#757677;
      font-size: 18px;
      font-weight: bold;
  }
  
  
  .buscador{
      background: white;
      width: 40px;
      min-width: 40px;
      height: 40px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
  }
  
  .buscador img{
      width: 40px;
  }
  
  .contenedorMain{
     flex: 1;
     height: auto;
     margin-top: 15px;
     display: grid;
     grid-template-columns: repeat(auto-fill, 300px);
     grid-auto-rows: 10px;
     justify-content: center;
    
  }
  
  .pin{
      border-radius: 16px;
      background: gray;
      margin: 7px;
      position: relative;
      overflow: hidden;
  }

  .pin2{
    border-radius: 16px;
    background: gray;
    margin: 7px;
    position: relative;
    overflow: hidden;
}
  
  .pin .mainPic{
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

   .pin2 .mainPic{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
  
   .pin .contenidoPin{
      width: 100%;
      height: 50px;
      background: rgb(255, 255, 255, 0.2);
      position: absolute;
      bottom: 0;
      backdrop-filter: blur(5px);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 15px;
   }
  
   .busqueda img{
      width: 25px;
   }
  
 
   
  
  .pin.small{
      grid-row-end: span 26;
  }
  
  .pin.medium{
      grid-row-end: span 33;
  }
  
  .pin.large{
      grid-row-end: span 45;
  }
  
  /*.card{
      width: 252px;
      height: 512px;
      border-radius: 16px;
      position: relative;
      overflow: hidden;
      background-color: royalblue;
  }
  .pin_title{
      width: 0;
      height: 0;
      opacity: 0;
  }
  .pin_modal{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.1);
      transition-duration: 0.3s ;
  }
  .pin_modal:hover{
      opacity: 1%;
  }
  .pin_modal .modal_head{
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
  }
  .pin_modal .modal_foot{
      width: 100%;
      height: 100%;
      position: fixed;
      bottom: 0;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      
  }
  .icon_contenedor{
      width: 32px;
      height: 32px;
      background-color: white;
  }*/
  

  